<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="926068">  <td>18/06/12 17:00:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.SearchButton()[pri:0, instance:com.Devopslabs.TC_LoginLogout@aecb35a]">SearchButton</td> 
  <td>main@520022247</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/06/12 17:00:27</td>   <td>255</td> <td title="&lt;&lt;testbase.closeBrowser()[pri:0, instance:com.Devopslabs.TC_LoginLogout@aecb35a]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520022247</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>18/06/12 17:00:20</td>   <td>-6186</td> <td title="&gt;&gt;TC_LoginLogout.setUP()[pri:0, instance:com.Devopslabs.TC_LoginLogout@aecb35a]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520022247</td>   <td></td> </tr>
</table>
