<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aab2ec">  <td>18/06/12 17:30:22</td>   <td>0</td> <td title="&gt;&gt;TS_homepage.setUP()[pri:0, instance:com.Devopslabs.TS_homepage@4bb4de6a]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="99f68d">  <td>18/06/12 17:30:27</td>   <td>5405</td> <td title="&gt;&gt;TC_LoginLogout.setUP()[pri:0, instance:com.Devopslabs.TC_LoginLogout@2df32bf7]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="aab2ec">  <td>18/06/12 17:30:27</td>   <td>5420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_homepage.TC_verifyHP()[pri:1, instance:com.Devopslabs.TS_homepage@4bb4de6a]">TC_verifyHP</td> 
  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="aab2ec">  <td>18/06/12 17:30:27</td>   <td>5472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_homepage.TC_001()[pri:2, instance:com.Devopslabs.TS_homepage@4bb4de6a]">TC_001</td> 
  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="aab2ec">  <td>18/06/12 17:30:27</td>   <td>5477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_homepage.TC_002()[pri:3, instance:com.Devopslabs.TS_homepage@4bb4de6a]">TC_002</td> 
  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="99f68d">  <td>18/06/12 17:30:27</td>   <td>5500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.EditButton()[pri:0, instance:com.Devopslabs.TC_LoginLogout@2df32bf7]">EditButton</td> 
  <td>main@1237598030</td>   <td></td> </tr>
<tr bgcolor="b0bfab">  <td>18/06/12 17:30:27</td>   <td>5543</td> <td title="&lt;&lt;testbase.closeBrowser()[pri:0, instance:com.Devopslabs.TC_LoginLogout@2df32bf7]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237598030</td>   <td></td> </tr>
</table>
